<div class="main">
  <div class="content">
     <img src="../assets/favicon.jpg" alt="" width="200" height="200">
     <h1><span>K</span>eyshell <p>Welcomes You To The World Of Tech</p></h1>
     <div class="author">
      <p>Developed in Angular</p>
      <p style="margin-top:5px">@Copyrights<span>&nbsp; Don Davis</span></p>
     </div>
  </div>
  
</div>